WSP_RRHH (8).json
{
  "name": "WSP RRHH",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-in",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -440,
        160
      ],
      "id": "1c8bb46c-eef8-4371-a857-79f7e3b8886d",
      "webhookId": "b70091df-1fbb-4864-abc1-e0cf977ee1e0"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"data_base64\"]}}",
              "operation": "notEqual",
              "value2": "=\"\""
            }
          ]
        }
      },
      "name": "Es CV?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -200,
        100
      ],
      "id": "01b9dc54-1f38-468e-81cf-8c93942f9867"
    },
    {
      "parameters": {
        "functionCode": "return [{\n  json: {\n    mensaje: `📎 CV recibido de ${$json.sender}`,\n    archivo: $json.filename,\n    mimetype: $json.mimetype,\n    desde: $json.from,\n    timestamp: $json.timestamp\n  }\n}];"
      },
      "name": "Registrar CV",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fd278fc3-d400-43b5-8d78-86747d8f226e"
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { mensaje: `📨 Texto de ${$json.sender}`, contenido: $json.message } }];"
      },
      "name": "Registrar Texto",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "id": "ab76a7ef-7599-41a6-933f-dad95bfb868c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2708"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $json.to }}\",\n  \"text\": \"{{ $json.text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        100
      ],
      "id": "fca971d9-9147-4caf-bbdd-ef332606b050",
      "name": "HTTP Request",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sos un asistente de recursos humanos que responde candidatos por WhatsApp. Respondé de forma profesional, clara y breve.\n\n⚠️ Tu única salida debe ser un JSON con las siguientes claves:\n\n📄 Contenido del CV (si lo hay):\n{{ $json.cv_text || \"Sin CV recibido.\" }}\n\n📌 Reglas del equipo RRHH:\n{{ $json.reglas || \"No hay reglas definidas en este momento.\" }}\n\n⏳ Mensaje recibido:\n{{ $json.message || \"No se recibió un mensaje de texto. Solo se procesó un archivo adjunto.\" }}\n\n👉 Respondé solo con el siguiente JSON:\n\n👉 Respondé solo con este JSON:\n\n{\n  \"respuesta\": \"Tu mensaje aquí\",\n  \"tipo\": \"saludo | cv | consulta | seguimiento | otro\",\n  \"to\": \"{{ $json.to }}\"\n}\n",

        "hasOutputParser": false,

        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        420,
        180
      ],
      "id": "28eb53ad-43ac-41ed-abf4-0125983b3407",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        340,
        440
      ],
      "id": "61ca6dae-7cf2-489b-831e-8ebc535f6e12",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "i90V6bSWkyq3eGpZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        460,
        480
      ],
      "id": "bf34ce16-fa93-485e-8910-ead87c378cc5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"sessionId\": \"{{ $json.desde }}\",\n  \"desde\": \"{{ $json.desde }}\",\n  \"to\": \"{{ $json.desde.endsWith('@c.us') ? $json.desde : $json.desde + '@c.us' }}\"\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        100
      ],
      "id": "cf437b4d-49f1-4e2a-ad5c-8fb3c74e1dfa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"to\": \"{{ $json.to || $json.sessionId }}\",\n  \"text\": \"{{ $json.respuesta }}\"\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        180
      ],
      "id": "cbb32068-e470-482b-b545-7671a33dce14",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "functionCode": "let content=$json.output??$json.message??$json.text??;let parsed;try{parsed=typeof content===\"string\"?JSON.parse(content):content;}catch{parsed={};}return [{json:{...$json,...parsed}}];"
      },
      "name": "Parse JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        620,
        180
      ],
      "id": "215958f3-3085-4eb7-9b5d-2979b9b81cf1"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "from": "5491131708886@c.us",
          "sender": "Florencia Gómez",
          "message": "",
          "timestamp": 1718199999,
          "data_base64": "UEsDBBQACAgIACZ5z0oAAAAAAAAAAAAAAAAJAAQATm90YXMudHh0CgAgAAAAAAABABgA2K6pVQrFz8+Pj8mJiUlJSYWFhcnJyYgBQSwECHgMUAAICAgAmec9KAAAAAAAAAAAAAAAACQAEAAAAAAAAAAAApIEAAAAATm90YXMudHh0CgAgAAAAAAABABgAUEsFBgAAAAABAAEAWgAAAEIAAAAAAA==",
          "filename": "CV_Florencia_Gomez.pdf",
          "mimetype": "application/pdf",
          "cv_text": "Florencia Gómez - Licenciada en Recursos Humanos con experiencia en selección y capacitación. Manejo avanzado de SAP y Excel. Referencias comprobables.",
          "reglas": "Revisar solo si menciona experiencia en RRHH o SAP. No aplicar a perfiles técnicos."
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Es CV?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es CV?": {
      "main": [
        [
          {
            "node": "Registrar CV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar CV": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Texto": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "f779e9cf-1e48-4007-8e34-b29fd10abdd0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84f44db5bd3dc4edcdb8bb60547fbf0816264437984a9cbfa6a5c62fc72959da"
  },
  "id": "xJpuYRexazGYJR6L",
  "tags": []
}
