WSP_RRHH (4).json
{
  "name": "WSP RRHH",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-in",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -440,
        160
      ],
      "id": "1c8bb46c-eef8-4371-a857-79f7e3b8886d",
      "webhookId": "b70091df-1fbb-4864-abc1-e0cf977ee1e0"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"data_base64\"]}}",
              "operation": "notEqual",
              "value2": "=\"\""
            }
          ]
        }
      },
      "name": "Es CV?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -200,
        100
      ],
      "id": "01b9dc54-1f38-468e-81cf-8c93942f9867"
    },
    {
      "parameters": {
        "functionCode": "return [{\n  json: {\n    mensaje: `📎 CV recibido de ${$json.sender}`,\n    archivo: $json.filename,\n    mimetype: $json.mimetype,\n    desde: $json.from,\n    timestamp: $json.timestamp\n  }\n}];"
      },
      "name": "Registrar CV",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fd278fc3-d400-43b5-8d78-86747d8f226e"
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { mensaje: `📨 Texto de ${$json.sender}`, contenido: $json.message } }];"
      },
      "name": "Registrar Texto",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "id": "ab76a7ef-7599-41a6-933f-dad95bfb868c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2708"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"to\": {{$json.desde}},\n  \"text\": {{$json.respuesta}}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        100
      ],
      "id": "fca971d9-9147-4caf-bbdd-ef332606b050",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sos un asistente de recursos humanos que responde candidatos por WhatsApp. Respondé de forma profesional, clara y breve.\n\n⚠️ Tu única salida debe ser un JSON con las siguientes claves:\n\n📄 Contenido del CV (si lo hay):\n{{ $json.cv_text || \"Sin CV recibido.\" }}\n\n📌 Reglas del equipo RRHH:\n{{ $json.reglas || \"No hay reglas definidas en este momento.\" }}\n\n⏳ Mensaje recibido:\n{{ $json.message }}\n\n👉 Respondé **solo** con el siguiente JSON válido:\n{\"respuesta\": \"Tu mensaje aquí\",\n  \"tipo\": \"saludo | cv | consulta | seguimiento | otro\"}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        400,
        100
      ],
      "id": "28eb53ad-43ac-41ed-abf4-0125983b3407",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        300,
        340
      ],
      "id": "61ca6dae-7cf2-489b-831e-8ebc535f6e12",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "i90V6bSWkyq3eGpZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        520,
        360
      ],
      "id": "bf34ce16-fa93-485e-8910-ead87c378cc5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\": \"object\",\n  \"properties\": {\n    \"respuesta\": { \"type\": \"string\" },\n    \"tipo\": {\n      \"type\": \"string\",\n      \"enum\": [\"saludo\", \"cv\", \"consulta\", \"seguimiento\", \"otro\"]\n    }\n  },\n  \"required\": [\"respuesta\", \"tipo\"]}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        680,
        340
      ],
      "id": "8bd98880-fe7a-4d19-b20a-d83a2d9b2edd",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"sessionId\": \"={{ $json.desde }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        100
      ],
      "id": "cf437b4d-49f1-4e2a-ad5c-8fb3c74e1dfa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\"to\": $json.desde.endsWith(\"@c.us\") ? $json.desde : $json.desde + \"@c.us\",\n  \"text\": $json.respuesta}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        100
      ],
      "id": "0260ab6a-b574-4aed-b42a-8948db6f3e2a",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Es CV?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es CV?": {
      "main": [
        [
          {
            "node": "Registrar CV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar CV": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Texto": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "055a7972-cb10-427f-8762-05a43ecca2a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84f44db5bd3dc4edcdb8bb60547fbf0816264437984a9cbfa6a5c62fc72959da"
  },
  "id": "xJpuYRexazGYJR6L",
  "tags": []
}